<% include ../admin-head %>
<body class="theme-green">
    <!-- Page Loader -->
    <% include ../admin-page-loader %>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <% include ../top-nav %>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <% include ../admin-left-sidebar %>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <% include ../admin-right-sidebar %>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Farmer Registration Form</h2>
            </div>
            <!-- Farmer Form -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Please fill in the form</h2>
                        </div>
                        <div class="body">
                            <form method="POST" action="/admin/register/farmer" enctype="multipart/form-data">
                                <!-- message -->
                                <% include ../messages %>
                                <!-- end of message -->
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <label for="fboName">Name of FBO</label>
                                        <input id="fboName" type="text" class="validate" name="fboName" required value="<%= typeof fboName != 'undefined' ? fboName: '' %>">
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <label for="listOfProd">Enter the lists of products</label>
                                        <input id="listOfProd" type="text" class="validate" name="listOfProd" required value="<%= typeof listOfProd != 'undefined' ? listOfProd: '' %>">
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <label for="location">Location</label>
                                        <input id="location" type="text" class="validate" name="location" required value="<%= typeof location != 'undefined' ? location: '' %>">
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <label for="chiefdom">Cheifdom</label>
                                        <input id="chiefdom" type="text" class="validate" name="chiefdom" required value="<%= typeof chiefdom != 'undefined' ? chiefdom: '' %>">
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <label for="district">District</label>
                                        <input id="district" type="text" class="validate" name="district" required value="<%= typeof district != 'undefined' ? district: '' %>">
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <label for="region">Region</label>
                                        <input id="region" type="text" class="validate" name="region" required value="<%= typeof region != 'undefined' ? region: '' %>">
                                    </div>
                                    <!-- <div class="input-field col s12 m6">
                                        <select id="district" name="district" required class="validate">
                                            <option value="" class="gray-text" required disabled selected>Choose a District</option>
                                            <option id="DIST_WAU">Western Area Urban</option>
                                            <option  id="DIST_WAR">Western Area Rural</option>
                                            <option  id="DIST_FAL">Falaba</option>
                                            <option  id="DIST_KOI">Koinadugu</option>
                                            <option  id="DIST_BOM">Bombali</option>
                                            <option  id="DIST_TON">Tonkolili</option>
                                            <option  id="DIST_KAM">Kambia</option>
                                            <option  id="DIST_KAR">Karene</option>
                                            <option  id="DIST_POR">Porto Loko</option>
                                            <option  id="DIST_BO">Bo</option>
                                            <option  id="DIST_BON">Bonthe</option>
                                            <option  id="DIST_PUJ">Pujehun</option>
                                            <option  id="DIST_MOY">Moyamba</option>
                                            <option  id="DIST_KEN">Kenema</option>
                                            <option  id="DIST_KAL">Kaliahun</option>
                                            <option  id="DIST_KON">Kono</option>
                                        </select>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <select id="region" required class="validate">
                                            <option class="gray-text" required disabled selected>Select a region</option>
                                            <option id="WAU">Wester Area Urban</option>
                                            <option id="WAR">Wester Area Rural</option>
                                            <option id="NORT">North</option>
                                            <option id="NORTW">North West</option>
                                            <option id="EAST">East</option>
                                            <option id="SOUTH">South</option>
                                        </select>
                                    </div> -->
                                    <div class="input-field col s6 m3">
                                        <label for="totalNoOfWorkers">Total number of workers</label>
                                        <input id="totalNoOfWorkers" type="number" class="validate" name="totalNoOfWorkers" required value="<%= typeof totalNoOfWorkers != 'undefined' ? totalNoOfWorkers: '' %>">
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <label for="briefBio">Brief bio about the farm</label>
                                        <textarea id="briefBio" class="materialize-textarea" type="text" class="validate" name="briefBio" value="<%= typeof briefBio != 'undefined' ? briefBio: '' %>"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <h6 class="center reSubHeading green-text">Executive Head Section</h6>
                                    <div class="input-field col s12 m4">
                                        <label for="execHeadName">Enter Full Name</label>
                                        <input id="execHeadName" type="text" class="validate" name="execHeadName" required value="<%= typeof execHeadName != 'undefined' ? execHeadName: '' %>">
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <label for="execHeadAddress">Address</label>
                                        <input id="execHeadAddress" type="text" class="validate" name="execHeadAddress" required value="<%= typeof execHeadAddress != 'undefined' ? execHeadAddress: '' %>">
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <label for="execHeadTele">Telephone</label>
                                        <input id="execHeadTele" type="number" class="validate" name="execHeadTele" value="<%= typeof execHeadTele != 'undefined' ? execHeadTele: '' %>">
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <label for="execHeadEmail">Email(optional)</label>
                                        <input id="execHeadEmail" type="email" class="validate" name="execHeadEmail" value="<%= typeof execHeadEmail != 'undefined' ? execHeadEmail: '' %>">
                                    </div>
                                    <div class="input-field col s3 m3">
                                            <label for="gender">Gender</label>
                                            <input id="gender" type="text" class="validate" name="gender" value="<%= typeof gender != 'undefined' ? gender: '' %>">
                                        <!-- <label>Gender</label> -->
                                        <!-- <select class="form-control">
                                            <option value="" disabled selected>Select a gender</option>
                                            <option value="male">male</option>
                                            <option value="female">female</option>
                                        </select> -->
                                            
                                            
                                        <!-- <span><small>Select a gender</small></span>
                                        <p>
                                            <label>
                                                <input name="sex" type="radio" checked required value="male"/>
                                                <span>Male | </span>
                                            </label>
                                            <label>
                                                <input name="sex" type="radio" checked required value="female"/>
                                                <span>Female</span>
                                            </label>
                                        </p> -->
                                    </div>
                                    <!-- <div class="input-field col s2 m1">
                                        <p> 
                                            <label>
                                                <input name="sex" type="radio" checked />
                                                <span>Female</span>
                                            </label>
                                        </p>
                                    </div>  -->
                                    <div class="file-field input-field col s12 m4">
                                        <div class="btn">
                                            <span>Upload Photo</span>
                                            <input type="file" id="uploadedFile" name="uploadedFile">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                                <input class="btn-large btn-enum blue" id="register_fbo" type="submit" value="Register">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Farmer Form -->
        </div>
    </section>

    <% include ../admin-jslinks.ejs %>
  </body>

  </html>
