<% include ../admin-head %>
<body class="theme-blue">
    <!-- Page Loader -->
    <% include ../admin-page-loader %>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <% include ../top-nav %>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <% include ../admin-left-sidebar %>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <% include ../admin-right-sidebar %>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <!-- displaying the success message -->
            <!-- <% include ../messages %> -->
            <!-- CREATE POST AREA -->
            <div class="container">
              <div class="grey lighten-2">
                  <h5 class="center">POSTS</h5>
              </div>
              <table class="table table-bordered">
                  <thead class="blue lighten-3 center">
                    <tr>
                      <td>Title</td>
                      <td>Description</td>
                      <td>Status</td>
                      <td>Comments Allowed</td>
                      <td>Actions</td>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- looping through the posts -->
                    <% fetchedPosts.forEach(post => { %>
                      <tr>
                        <td><%= post.title %></td>
                        <td><%= post.description %></td>
                        <td><%= post.status %></td>
                        <td><%= post.allowComment %></td>
                        <td>
                            <a href="/admin/posts/edit/<%= post._id %>" class="btn btn-warning">Edit Post</a>
                            <br>
                            <br>
                            <!-- <a href="/admin/posts/delete/<%= post.id %>" method="post" class="btn btn-danger">Delete Post</a> -->
                            <form action="/admin/posts/delete/<%= post._id %>?newMethod=DELETE" method="delete">
                                <button class="btn btn-danger" type="submit">Delete Post</button>
                            </form>

                        </td>
                      </tr>
                    <% }); %>
                  </tbody>
              </table>


            </div>
            <!-- END OF CREATE POST AREA -->
          </div>
    </section>

    <% include ../admin-jslinks.ejs %>
  </body>

  </html>
